.menu__list-item{
    &--1{
        animation-delay: .5s;
    }
    &--2{
        animation-delay: .7s;
    }
    &--3{
        animation-delay: .9s;
    }
    &--4{
        animation-delay: 1.1s;
    }
    &--5{
        animation-delay: 1.3s;
    }
    &--6{
        animation-delay: 1.5s;
    }
}